<!-- Présentation des visuels dans l'esprit Pinterest (cf visuels en PJ du site la smala), but : pouvoir mettre photos ou vidéos sur la page. Au survol photo avec filtre N&B ou filtre plus foncé avec d'inscrit au survol la catégorie de la photo (EDITORIAL ou COMMERCIAL)
Sous les photos deux lignes de texte comprenant le nom du client en plus gros et en petit taille italique le nom du photographe - texte max la largeur de l'image
Prévoir l'option filtre permettant de réduire le choix des visuels visibles deux catégories prévus pour l'instant EDITORIAL et COMMERCIAL
Une fois avoir cliquer sur une image / ouvre une page avec le menu d'origine avec en plus en mode retour "BACK WORK ou BACK PORTFOLIO"
visuels présentés comme sur le site Art Partners (cf images en pj), carrousel avec un visuel paysage ou 2 visuels portrait. En texte nom du client / photographe
 -->
<div class="container">
  <button type="button" data-filter="all">All</button>
  <button type="button" data-filter=".edito">Edito</button>
  <button type="button" data-filter=".commercial">Commercial</button>
  <div class="cards">
    <div class="card-projects mix edito remy">
      <a href="#">
        <div class="text">
          <p class="project-title">Remy</p>
          <p class="project-description">Your text here...</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial feeka">
      <a href="#">
        <div class="text">
          <p class="project-title">Feeka</p>
          <p class="project-description">Your text here...</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix edito suncoo">
      <a href="#">
        <div class="text">
          <p class="project-title">Holiday E-shop</p>
          <p class="project-description">Your text here...</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial jane">
      <a href="#">
        <div class="text">
          <p class="project-title">Jane Magazine</p>
          <p class="project-description">Your text here...</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix edito luco">
      <a href="#">
        <div class="text">
          <p class="project-title">Le luco</p>
          <p class="project-description">Your text here...</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial morgan">
      <a href="#">
        <div class="text">
          <p class="project-title">Morgan lookbook</p>
          <p class="project-description">Your text here...</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix edito holiday">
      <a href="#">
        <div class="text">
          <p class="project-title">Suncoo</p>
          <p class="project-description">Your text here...</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial vakko">
      <a href="#">
        <div class="text">
          <p class="project-title">Vakko</p>
          <p class="project-description">Your text here...</p>
        </div>
      </a>
    </div>
   </div>
 </div>

